---
import Whatsapp from '@/assets/whatsapp.svg'
import { Button } from '@/components/ui/button'
import { Image } from 'astro:assets'

const { item } = Astro.props
---

<a
  href={`https://api.whatsapp.com/send/?phone=447459053603&text=Hello, I am interested in this item: ${item.data.name}`}
  target="_blank"
  rel="noopener noreferrer"
>
  <Button size="lg">
    <Image src={Whatsapp} alt="Whatsapp" width={20} height={20} />
    <span class="text-[18px]"> I'm Interested </span>
  </Button>
</a>
